.app-container {
    box-sizing: border-box;
    height: 100%;
    padding: 16px;
    background-color: #F5F5F5;
}

.description {
    margin: 14px 0;
    padding: 0 16px;
    color: rgb(0 0 0 / 65%);
    font-size: 14px;
    word-break: break-all;
}
